.main-footer {
  color: white;
  background-color: #426899;
  padding-top: 3em;
  padding-bottom: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footing-center {
  align-items: center;
  justify-content: center;
  float: center;
}

.my-social-icon-foot .social-svg {
  color: #284c7a;
  background: #7860ce;
}

.my-social-icon-foot .social-svg:hover {
  color: #507bb3;
  background: #7860ce;
}
