@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css?family=Dosis");

.cursive {
  font-family: "Dosis", cursive;
  font-weight: 700;
  font-size: 40px;
}
.cursive3 {
  font-family: "Dosis", cursive;
  font-weight: 700;
  font-size: 30px;
  float: right;
}
.cursive2 {
  font-family: "Dosis", cursive;
  font-weight: 50;
  font-size: 20px;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-size: 35px;
}

.home-name {
  font-size: 50px;
  margin-left: 20px;
  justify-content: right;
  text-align: left;
  margin-bottom: 30px;
}

.home-name-smaller {
  font-size: 15 x;
  justify-content: center;

  text-align: left;
}

h3 {
  font-size: 14px;
  opacity: 0;
}

body {
  background-color: #e8c2a8;
}

main {
  white-space: pre-line;
}

.holdingcontainer {
  width: 100%;
  display: flex;
  background: #e8c2a8;
  padding: 10px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 220px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.photo-resize {
  max-width: 80%;
  height: auto;
}

.internalcontainerL {
  flex: 1;
  padding: 10px;
  background: #e8c2a8;
  align-items: center;
  justify-content: center;
}
.internalcontainerR {
  flex: 1;
  padding: 10px;
  background: #e8c2a8;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .holdingcontainer {
    flex-direction: column-reverse;
  }
}

.my-social-icon .social-svg {
  color: #ff8080;
  background: #f77271;
}

.my-social-icon .social-svg:hover {
  color: #f99696;
  background: #f77271;
}
